body {
  color: #2d3c49;
  font-family: Roboto, Helvetica, Arial;
  font-size: 14px;
  margin: 10px;
  min-width: 175px;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*Header*/
.header {
  border-bottom: 3px solid #7d97ad;
  padding: 10px;
  text-align: center
}

.header::after {
  clear: both;
  content: "";
  display: block;
}

.logo {
  height: 100px;
  width: 100px;
}

.name {
  font-size: 40px;
  font-weight: 100;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
  text-transform: uppercase;
}

.description {
  font-size: 20px;
  font-weight: 400;
  clear: both;
  margin: 0px;
  text-transform: uppercase;
}

/*Main Image*/

.main_image {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  background-image: url("./images/mountains2.png");
  background-size: cover;
  background-position: top right;
}


/*Projects*/


.project_section::after {
  clear: both;
  content: "";
  display: block;
}

.project_title {
  color: #7d97ad;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.project_title::after {
  clear: both;
  content: "";
  display: block;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  overflow-wrap: break-word;
}
.project {
  clear: both;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 150px;
  max-width: 250px;
  width: 25%;
  text-decoration: none;
}
.project a {
  text-decoration: none;
  color: #2d3c49;

}
.project a:hover {
  color: #7d97ad;
}

.proj_name {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-kerning: none;
}

.proj_image {
  width: 85%;
}




@media screen and (min-width: 530px) {

  .main_image {
    height: 200px;
  }
  .logo {
    float:left;
  }
  .name {
    float: right;
    font-size: 50px
  }
  .description {
    float: right;
    font-size: 22px;
    clear: right;
  }

  .project_title {
    font-size: 30px;
    text-align: left;
    margin-left: 15px;
  }
}

@media screen and (min-width: 975px) {

  .name {
    font-size: 60px;
  }
  .description {
    font-size: 25px;
  }
  .project_title {
    font-size: 40px;
  }
  .proj_name {
    font-size: 30px;
  }
}