body {
  color: #2d3c49;
  font-family: Roboto, Helvetica, Arial;
  font-size: 14px;
  margin: 10px;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*Header*/
.header {
  border-bottom: 3px solid #7d97ad;
  padding: 10px;
}

.header::after {
  clear: both;
  content: "";
  display: block;
}

.logo {
  height: 100px;
  width: 100px;
  float: left;
}

.name {
  float: right;
  font-size: 60px;
  font-weight: 100;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
  text-transform: uppercase;
}

.description {
  float: right;
  font-size: 25px;
  font-weight: 400;
  clear: right;
  margin: 0px;
  text-transform: uppercase;
}

/*Main Image*/

.main_image {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
  background-image: url("./images/mountains.png");
  background-size: cover;
  background-position: top right;
}


/*Projects*/


.project_section::after {
  clear: both;
  content: "";
  display: block;
}

.project_title {
  color: #7d97ad;
  font-size: 40px;
  font-weight: 400;
}

.project_title::after {
  clear: both;
  content: "";
  display: block;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  clear: both;
  padding: 24px;
  text-align: center;
  width: 25%;
  text-decoration: none;
}
.project a {
  text-decoration: none;
  color: #2d3c49;

}
.project a:hover {
  color: #7d97ad;
}

.proj_name {
  font-size: 30px;
  text-transform: uppercase;
}

.proj_image {
  width: 100%;
  padding:  5px
}
